<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imap.cloud.common.dao.lushu.LushupathMapper">
  <resultMap id="BaseResultMap" type="com.imap.cloud.common.entity.lushu.Lushupath">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="createdTime" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="startPoint" jdbcType="VARCHAR" property="startPoint" />
    <result column="updatedTime" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="x" jdbcType="DOUBLE" property="x" />
    <result column="y" jdbcType="DOUBLE" property="y" />
    <result column="lushuId" jdbcType="CHAR" property="lushuId" />
    <result column="xs" jdbcType="LONGVARCHAR" property="xs" />
    <result column="ys" jdbcType="LONGVARCHAR" property="ys" />
  </resultMap>
  <sql id="Base_Column_List">
    id, createdTime, deleted, name, startPoint, updatedTime, x, y, lushuId,  xs, ys
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from map_school_lushupath
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from map_school_lushupath
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.imap.cloud.common.entity.lushu.Lushupath">
    insert into map_school_lushupath (id, createdTime, deleted, 
      name, startPoint, updatedTime, 
      x, y, lushuId, xs, 
      ys)
    values (#{id,jdbcType=CHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT}, 
      #{name,jdbcType=VARCHAR}, #{startPoint,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP}, 
      #{x,jdbcType=DOUBLE}, #{y,jdbcType=DOUBLE}, #{lushuId,jdbcType=CHAR}, #{xs,jdbcType=LONGVARCHAR}, 
      #{ys,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.imap.cloud.common.entity.lushu.Lushupath">
    insert into map_school_lushupath
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createdTime != null">
        createdTime,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="startPoint != null">
        startPoint,
      </if>
      <if test="updatedTime != null">
        updatedTime,
      </if>
      <if test="x != null">
        x,
      </if>
      <if test="y != null">
        y,
      </if>
      <if test="lushuId != null">
        lushuId,
      </if>
      <if test="xs != null">
        xs,
      </if>
      <if test="ys != null">
        ys,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="startPoint != null">
        #{startPoint,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="x != null">
        #{x,jdbcType=DOUBLE},
      </if>
      <if test="y != null">
        #{y,jdbcType=DOUBLE},
      </if>
      <if test="lushuId != null">
        #{lushuId,jdbcType=CHAR},
      </if>
      <if test="xs != null">
        #{xs,jdbcType=LONGVARCHAR},
      </if>
      <if test="ys != null">
        #{ys,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  
  <select id="selectAll" resultMap="BaseResultMap" >
  	select 
  		<include refid="Base_Column_List" />
    from map_school_lushupath
    where  
    	lushuId = #{lushuId,jdbcType=CHAR}
  </select>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.imap.cloud.common.entity.lushu.Lushupath">
    update map_school_lushupath
    <set>
      <if test="createdTime != null">
        createdTime = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="startPoint != null">
        startPoint = #{startPoint,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        updatedTime = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="x != null">
        x = #{x,jdbcType=DOUBLE},
      </if>
      <if test="y != null">
        y = #{y,jdbcType=DOUBLE},
      </if>
      <if test="lushuId != null">
        lushuId = #{lushuId,jdbcType=CHAR},
      </if>
      <if test="xs != null">
        xs = #{xs,jdbcType=LONGVARCHAR},
      </if>
      <if test="ys != null">
        ys = #{ys,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.imap.cloud.common.entity.lushu.Lushupath">
    update map_school_lushupath
    set createdTime = #{createdTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT},
      name = #{name,jdbcType=VARCHAR},
      startPoint = #{startPoint,jdbcType=VARCHAR},
      updatedTime = #{updatedTime,jdbcType=TIMESTAMP},
      x = #{x,jdbcType=DOUBLE},
      y = #{y,jdbcType=DOUBLE},
      lushuId = #{lushuId,jdbcType=CHAR},
      xs = #{xs,jdbcType=LONGVARCHAR},
      ys = #{ys,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.imap.cloud.common.entity.lushu.Lushupath">
    update map_school_lushupath
    set createdTime = #{createdTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT},
      name = #{name,jdbcType=VARCHAR},
      startPoint = #{startPoint,jdbcType=VARCHAR},
      updatedTime = #{updatedTime,jdbcType=TIMESTAMP},
      x = #{x,jdbcType=DOUBLE},
      y = #{y,jdbcType=DOUBLE},
      lushuId = #{lushuId,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>