<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imap.cloud.common.dao.system.UnitLabelMapper">
	<resultMap id="UnitLabelResultMap" type="com.imap.cloud.common.entity.system.UnitLabel">
		<id column="id" property="id" jdbcType="CHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="englishName" property="englishName" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="en_address" property="enAddress" jdbcType="VARCHAR" />
		<result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="createUser" property="createUser" jdbcType="VARCHAR" />
		<result column="deleted" property="deleted" jdbcType="BIT" />
		<result column="description" property="description" jdbcType="LONGVARCHAR" />
		<result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="updateUser" property="updateUser" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="x" property="x" jdbcType="DOUBLE" />
		<result column="y" property="y" jdbcType="DOUBLE" />
		<result column="keywords" property="keywords" jdbcType="VARCHAR" />
		<result column="linkMan" property="linkMan" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="imageId" property="imageId" jdbcType="CHAR" />
		<result column="entityId" property="entityId" jdbcType="VARCHAR" />
		<result column="showTime" property="showTime" jdbcType="VARCHAR" />
		<result column="jdPhone" property="jdPhone" jdbcType="VARCHAR" />
		<result column="comments" property="comments" jdbcType="VARCHAR" />
		<result column="seq" property="seq" jdbcType="INTEGER" />
		<!-- 查询数据字典中对应的类型 -->
		<association column="mainTypeId" property="mainType" javaType="DictionaryItem">
			<id column="mainType_id" property="id" jdbcType="CHAR"/>
			<result column="mainType_code" property="code" jdbcType="VARCHAR"/>
			<result column="mainType_shortvalue" property="shortvalue" jdbcType="VARCHAR"/>
			<result column="mainType_value" property="value" jdbcType="VARCHAR"/>
		</association>
		<!-- 查询数据字典中对应的类型 -->
		<association column="typeId" property="type" javaType="DictionaryItem">
			<id column="type_id" property="id" jdbcType="CHAR"/>
			<result column="type_code" property="code" jdbcType="VARCHAR"/>
			<result column="type_shortvalue" property="shortvalue" jdbcType="VARCHAR"/>
			<result column="type_value" property="value" jdbcType="VARCHAR"/>
		</association>
		<association column="areaId" property="area" javaType="com.imap.cloud.common.entity.map.MapLayer">
			<id column="area_id" property="id" jdbcType="CHAR"/>
			<result column="area_ename" property="ename" jdbcType="VARCHAR"/>
			<result column="area_alias" property="alias" jdbcType="VARCHAR"/>
			<result column="area_name" property="name" jdbcType="VARCHAR"/>
		</association>
	</resultMap>
	<sql id="Base_Unit_Columns">
		unitLabel.id id,
		unitLabel.name name,
		unitLabel.englishName englishName,
		unitLabel.address address,
		unitLabel.en_address,
		unitLabel.createTime createTime,
		unitLabel.createUser createUser,
		unitLabel.deleted deleted,
		unitLabel.description description,
		unitLabel.updateTime updateTime,
		unitLabel.updateUser updateUser,
		unitLabel.url url,
		unitLabel.x x,
		unitLabel.y y,
		unitLabel.keywords keywords,
		unitLabel.linkMan linkMan,
		unitLabel.mobile mobile,
		unitLabel.mainTypeId mainTypeId,
		unitLabel.typeId typeId,
		unitLabel.entityId entityId,
		unitLabel.imageId imageId,
		unitLabel.areaId areaId,
		unitLabel.showTime showTime,
		unitLabel.jdPhone jdPhone,
		unitLabel.comments comments,
		mainType.id mainType_id,
		mainType.code mainType_code,
		mainType.shortvalue mainType_shortvalue,
		mainType.value mainType_value,
		type.id type_id,
		type.code type_code,
		type.shortvalue type_shortvalue,
		type.value type_value,
		area.id area_id,
		area.ename area_ename,
		area.alias area_alias,
		area.name area_name
	</sql>
	
	<sql id="Base_Unit_ColumnsForSec">
		unitLabel.id id,
		unitLabel.name name,
		unitLabel.englishName englishName,
		unitLabel.address address,
		unitLabel.en_address en_address,
		unitLabel.createTime createTime,
		unitLabel.createUser createUser,
		unitLabel.deleted deleted,
		unitLabel.description description,
		unitLabel.updateTime updateTime,
		unitLabel.updateUser updateUser,
		unitLabel.url url,
		unitLabel.x x,
		unitLabel.y y,
		unitLabel.keywords keywords,
		unitLabel.linkMan linkMan,
		unitLabel.mobile mobile,
		unitLabel.mainTypeId mainTypeId,
		unitLabel.typeId typeId,
		unitLabel.entityId entityId,
		unitLabel.imageId imageId,
		unitLabel.areaId areaId,
		unitLabel.showTime showTime,
		unitLabel.jdPhone jdPhone,
		unitLabel.comments comments,
		unitLabel.seq seq,
		mainType.u_id mainType_id,
		mainType.code mainType_code,
		mainType.url_name mainType_value,
		type.u_id type_id,
		type.code type_code,
		type.url_name type_value,
		area.id area_id,
		area.ename area_ename,
		area.alias area_alias,
		area.name area_name
	</sql>
	
	<!-- 根据主键id查询单位类型 -->
	<select id="selectByPk" resultMap="UnitLabelResultMap" parameterType="java.lang.String">
		select 
		<include refid="Base_Unit_ColumnsForSec"/>
		from map_unit_label unitLabel
		left join sec_url mainType on unitLabel.mainTypeId=mainType.u_id 
		left join sec_url type on unitLabel.typeId=type.u_id
		left join map_layer area on unitLabel.areaId=area.id
		where unitLabel.id=#{id,jdbcType=CHAR} and unitLabel.deleted=0
	</select>
	
	<!-- 查询所有单位 -->
	<select id="selectUnitLabels" resultMap="UnitLabelResultMap">
		select 
		<include refid="Base_Unit_ColumnsForSec"/>
		from map_unit_label unitLabel
		left join sec_url mainType on unitLabel.mainTypeId=mainType.u_id 
		left join sec_url type on unitLabel.typeId=type.u_id
		left join map_layer area on unitLabel.areaId=area.id
		where unitLabel.deleted=0
	</select>
	
	<select id="searchUnitLabels" resultMap="UnitLabelResultMap" parameterType="Map">
	select 
		unitLabel.id id,
		unitLabel.name name,
		unitLabel.englishName englishName,
		unitLabel.address address,
		unitLabel.en_address en_address,
		unitLabel.deleted deleted,
		unitLabel.description description,
		unitLabel.url url,
		unitLabel.x x,
		unitLabel.y y,
		unitLabel.linkMan linkMan,
		unitLabel.mobile mobile,
		unitLabel.mainTypeId mainTypeId,
		unitLabel.typeId typeId,
		unitLabel.entityId entityId,
		unitLabel.imageId imageId,
		unitLabel.areaId area_id,
		unitLabel.showTime showTime,
		unitLabel.jdPhone jdPhone,
		unitLabel.comments comments
		<!-- unitLabel.areaId areaId -->
		from map_unit_label unitLabel where unitLabel.deleted=0
		<if test="mainTypeId!=null and  mainTypeId!=''"> 
             and unitLabel.mainTypeId=#{mainTypeId,jdbcType=CHAR}
        </if>
        <if test="typeId!=null and typeId!=''" > 
             and unitLabel.typeId=#{typeId,jdbcType=CHAR}
        </if>
        <if test="area!=null and area!=''" > 
             and unitLabel.areaId=#{area,jdbcType=CHAR}
        </if>
        <if test="entityId!=null and entityId!=''" > 
             and unitLabel.entityId=#{entityId,jdbcType=CHAR}
        </if>
        <if test="keyword!=null and keyword != ''"> 
             and (unitLabel.name like CONCAT('%',#{keyword,jdbcType=VARCHAR},'%' ) 
             or unitLabel.address like CONCAT('%',#{keyword,jdbcType=VARCHAR},'%' )
             or unitLabel.en_address like CONCAT('%',#{keyword,jdbcType=VARCHAR},'%' ))
        </if>
	</select>
	
	<select id="selectUnitLabelsByConditions" resultMap="UnitLabelResultMap" parameterType="Map">
		select 
		<include refid="Base_Unit_ColumnsForSec"/>
		from map_unit_label unitLabel
		left join sec_url mainType on unitLabel.mainTypeId=mainType.u_id 
		left join sec_url type on unitLabel.typeId=type.u_id
		left join map_layer area on unitLabel.areaId=area.id
		where unitLabel.deleted=0 
        <if test="mainTypeId !=null and mainTypeId != ''"> 
             and unitLabel.mainTypeId=#{mainTypeId,jdbcType=CHAR}
        </if>
        <if test="typeId !=null and typeId != ''" > 
             and unitLabel.typeId=#{typeId,jdbcType=CHAR}
        </if>
        <if test="area !=null and area != ''" > 
             and unitLabel.areaId=#{area,jdbcType=CHAR}
        </if>
        <if test="entityId !=null and entityId != ''" > 
             and unitLabel.entityId=#{entityId,jdbcType=CHAR}
        </if>
        <if test="name !=null and name != ''"> 
             and unitLabel.name like CONCAT('%',#{name,jdbcType=VARCHAR},'%' )
        </if>
        order by  IF(ISNULL(unitLabel.seq),999,unitLabel.seq) asc
	</select>
	
	<!-- 插入单位数据  注：查询用的UnitLabel实体， 修改和添加用的UnitDTO -->
	<insert id="insert" parameterType="com.imap.cloud.common.dto.UnitDTO">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">  
			select  replace(uuid(),'-','')   from dual  
		</selectKey>
		insert into map_unit_label(
			id,name,englishName,address,en_address,createTime,createUser,
			deleted,description,updateTime,updateUser,url,
			x,y,keywords,linkMan,mobile,mainTypeId,typeId,
			entityId,imageId,areaId,showTime,jdPhone,comments) 
		values (#{id,jdbcType=CHAR}, #{name,jdbcType=VARCHAR},#{englishName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
			#{enAddress,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{deleted,jdbcType=BIT},
			#{description,jdbcType=LONGVARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR},
			#{url,jdbcType=VARCHAR},#{x,jdbcType=DOUBLE}, #{y,jdbcType=DOUBLE}, #{keywords,jdbcType=VARCHAR}, #{linkMan,jdbcType=VARCHAR},
			#{mobile,jdbcType=VARCHAR},#{mainTypeId,jdbcType=CHAR}, #{typeId,jdbcType=CHAR}, #{entityId,jdbcType=CHAR},
			#{imageId,jdbcType=CHAR},#{areaId,jdbcType=CHAR},#{showTime,jdbcType=VARCHAR},#{jdPhone,jdbcType=VARCHAR},#{comments,jdbcType=VARCHAR})
	</insert>
	
	<!-- 根据id删除单位数据（直接从数据库删除） -->
	<delete id="deleteUnitLabelById" parameterType="java.lang.String">
		delete from map_unit_label where id=#{id,jdbcType=CHAR}
	</delete>
	
	<!-- 根据id删除单位数据（更新单位数据的deleted标记字段） -->
	<update id="deleteUnitLabelById1" parameterType="java.lang.String">
		update map_unit_label
		set deleted=1 
		where id=#{id,jdbcType=CHAR}
	</update>
	
	<!-- 修改单位数据 -->
	<update id="update" parameterType="com.imap.cloud.common.dto.UnitDTO">
	    update 
	    	map_unit_label
	    set name=#{name,jdbcType=VARCHAR},
	    	englishName=#{englishName,jdbcType=VARCHAR},
	    	address=#{address,jdbcType=VARCHAR},
	    	en_address=#{enAddress,jdbcType=VARCHAR},
	    	createTime=#{createTime,jdbcType=TIMESTAMP},
	    	createUser=#{createUser,jdbcType=VARCHAR},
			deleted=#{deleted,jdbcType=BIT},
			description=#{description,jdbcType=LONGVARCHAR},
			updateTime=#{updateTime,jdbcType=TIMESTAMP},
			updateUser=#{updateUser,jdbcType=VARCHAR},
			url=#{url,jdbcType=VARCHAR},
			x=#{x,jdbcType=DOUBLE},
			y=#{y,jdbcType=DOUBLE},
			keywords=#{keywords,jdbcType=VARCHAR},
			linkMan=#{linkMan,jdbcType=VARCHAR},
			mobile=#{mobile,jdbcType=VARCHAR},
			mainTypeId=#{mainTypeId,jdbcType=CHAR},
			typeId=#{typeId,jdbcType=CHAR},
			entityId=#{entityId,jdbcType=CHAR},
			imageId=#{imageId,jdbcType=CHAR},
			areaId=#{areaId,jdbcType=CHAR},
			showTime=#{showTime,jdbcType=VARCHAR},
			jdPhone=#{jdPhone,jdbcType=VARCHAR},
			comments=#{comments,jdbcType=VARCHAR}
	    where 
	    	id = #{id,jdbcType=CHAR}
	</update>
	
	<!-- 更新修改过的相应单位数据列 -->
	<update id="updateByPkSelective" parameterType="com.imap.cloud.common.dto.UnitDTO">
		update map_unit_label
		<set>
			<if test="name != null" >
                name=#{name,jdbcType=VARCHAR},
            </if>
			<if test="englishName != null" >
                englishName=#{englishName,jdbcType=VARCHAR},
            </if>
			<if test="address != null" >
                address=#{address,jdbcType=VARCHAR},
            </if>
			<if test="createTime != null" >
               	createTime=#{createTime,jdbcType=TIMESTAMP},
            </if>
			<if test="createUser != null" >
                createUser=#{createUser,jdbcType=VARCHAR},
            </if>
			<if test="deleted != null" >
                deleted=#{deleted,jdbcType=BIT},
            </if>
			<if test="description != null" >
                description=#{description,jdbcType=LONGVARCHAR},
            </if>
			<if test="updateTime != null" >
                updateTime=#{updateTime,jdbcType=TIMESTAMP},
            </if>
			<if test="updateUser != null" >
                updateUser=#{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="url != null" >
                url=#{url,jdbcType=VARCHAR},
            </if>
			<if test="x != null" >
                x=#{x,jdbcType=DOUBLE},
            </if>
			<if test="y != null" >
                y=#{y,jdbcType=DOUBLE},
            </if>
			<if test="keywords != null" >
                keywords=#{keywords,jdbcType=VARCHAR},
            </if>
			<if test="linkMan != null" >
                linkMan=#{linkMan,jdbcType=VARCHAR},
            </if>
			<if test="mobile != null" >
                mobile=#{mobile,jdbcType=VARCHAR},
            </if>
			<if test="mainTypeId != null" >
                mainTypeId=#{mainTypeId,jdbcType=CHAR},
            </if>
			<if test="typeId != null" >
                typeId=#{typeId,jdbcType=CHAR},
            </if>
			<if test="entityId != null" >
                entityId=#{entityId,jdbcType=CHAR},
            </if>
			<if test="imageId != null" >
                imageId=#{imageId,jdbcType=CHAR},
            </if>
			<if test="areaId != null" >
                areaId=#{areaId,jdbcType=CHAR},
            </if>
            <if test="showTime != null" >
                showTime=#{showTime,jdbcType=VARCHAR},
            </if>
			<if test="jdPhone != null" >
                jdPhone=#{jdPhone,jdbcType=VARCHAR},
            </if>
			<if test="comments != null" >
				comments=#{comments,jdbcType=VARCHAR},
            </if>
            <if test="seq != null" >
				seq=#{seq,jdbcType=INTEGER}
            </if>
            <if test="enAddress != null" >
				en_address=#{enAddress,jdbcType=VARCHAR}
            </if>
		</set>
		where id=#{id,jdbcType=CHAR}
	</update>
	<!-- 更新默认图片 -->
	<update id="updateImageId">
		update map_unit_label 
		set imageId=#{imageId,jdbcType=CHAR}
		where id=#{labelId,jdbcType=CHAR}
	</update>
	
	<!-- 向单位和图片的中间表中插入一条数据 -->
	<insert id="insertImage">
		insert into map_label_join_image(labelId,imageId) 
		values (#{labelId,jdbcType=CHAR},#{imageId,jdbcType=CHAR})
	</insert>
	<!-- 根据单位及图片的id删除他们中间表中相应的记录 -->
	<delete id="deleteUnitImage">
		delete from map_label_join_image 
		where labelId=#{labelId,jdbcType=CHAR} 
		and imageId=#{imageId,jdbcType=CHAR}
	</delete>
	<!-- 根据单位的id删除中间表中相应的若干记录 -->
	<delete id="deleteUnitImages">
		delete from map_label_join_image 
		where labelId=#{labelId,jdbcType=CHAR} 
	</delete>
	<!-- 根据单位id从中间表中查询图片id的数据 -->
	<select id="selectImagesIdByLabelId" resultType="String" parameterType="java.lang.String">
		select imageId from map_label_join_image 
		where labelId=#{labelId,jdbcType=CHAR}
	</select>
	
	<select id="selectSecByParentIds" resultType="Map" parameterType="Map">
		select c.u_id id,c.url_name name,c.parentId parentId from sec_url c where c.parentId in 
			(
			select c.u_id from sec_url c where c.url_name in
			<foreach collection="list" item="item" open="(" close=")" separator="," >
			  #{item}   
			</foreach>
			)
	</select>
</mapper>